*.xml
*.dep
*.bin
*.out
*.sim
*.map
*.o
*.pbi
*.cout
*.wsdt
*.wspos
*.xcl
*.bat
*.dni
*.crun
*.ioc
*.zip
*.pdb
*.bak
*.dbgdt
*.pbd
*.browse
*.tmp
*.pbi
*.json
*.lst
*.ps1
*.linf
*.dnx
*.wsdt

/EWARM/settings/
Inc/debug.log
**/.cache/
**/BrowseInfo/
**/Exe/
**/List/
**/Obj/
**/.ninja_deps
**/.ninja_log
**/compile_commands.json